
@import "menu.css";
.circle {
    color: cadetblue;
    margin: 0 6px;
    font-family: SemiBold,sans-serif;
}
.aside , .service{
    padding: 0 5px;
}
.aside-title {
    text-align: center;
    font-family: Bold,sans-serif;
    margin: 25px 0 20px 0;
}
.aside-li {
    display: flex;
}
.testh1 {
    text-align: center;
    font-family: Bold,sans-serif;
    margin: 25px 0 20px 0;
}
.materials {
    font-family: Regular,sans-serif;
    font-size: 20px;
}