@font-face {
    font-family: "Bold"; 
    src: url("../fonts/FiraSans-Bold.woff") format("woff");
    src: url("../fonts/FiraSans-Bold.woff2") format("woff2");  
    font-style: normal; 
    font-weight: normal; 
    }
@font-face {
    font-family: "Italic"; 
    src: url("../fonts/FiraSans-Italic.woff") format("woff");
    src: url("../fonts/FiraSans-Italic.woff2") format("woff2");  
    font-style: normal; 
    font-weight: normal; 
    } 
 @font-face {
    font-family: "Regular"; 
    src: url("../fonts/FiraSans-Regular.woff") format("woff"); 
    src: url("../fonts/FiraSans-Regular.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
    }    
 @font-face {
    font-family: "SemiBold"; 
    src: url("../fonts/FiraSans-SemiBold.woff") format("woff"); 
    src: url("../fonts/FiraSans-SemiBold.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
    } 
    /*
        font-family: "Bold"; 
        font-family: "SemiBold"; 
        font-family: "Italic"; 
        font-family: "Regular"; 
    */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Regular"; 
    font-size: 16px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    min-width: 320px;
    width: 100%;
    background: #494949;
}
.logo {
    display: flex;
    justify-content: space-around;
    background-color: #244756;

}
.logo img {
    height: 20%;
    width: 20%;
}
.menu {
    color: #fff;
    font-size: 30px;
    margin-top: 2px;
}
.custom {
    display: none;
}
.navigation {
    display: none;
}
.toogle {
    display: block;
    font-family: Bold;
}
.navigation {
    background-color: #150e27;
    text-align: center;
    font-size: 25px;
}
.tel_top {
    color: #fff;
    font-family: "SemiBold"; 
}
.circle {
    color: cadetblue;
    margin: 0 6px;
    font-family: "SemiBold";
}
.aside ,service{
    padding: 0 5px;
}
.aside-title {
    text-align: center;
    font-family: "Bold"; 
    margin: 25px 0 20px 0;
}
.aside-li {
    display: flex;
}
.testh1 {
    text-align: center;
    font-family: "Bold"; 
    margin: 25px 0 20px 0;
}
.materials {
    font-family: "Regular";
    font-size: 20px;
}
